In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv(r"E:\Corelia\Final Project\clean\art_coverage_clean_numeric.csv")
df2 = pd.read_csv(r"E:\Corelia\Final Project\clean\art_pediatric_clean_numeric.csv")
df3 = pd.read_csv(r"E:\Corelia\Final Project\clean\mother_to_child_transmission_clean_numeric.csv")
df4 = pd.read_csv(r"E:\Corelia\Final Project\clean\no_of_cases_adults_15_49_clean_numeric.csv")
df5 = pd.read_csv(r"E:\Corelia\Final Project\clean\no_of_deaths_clean_numeric.csv")
df6 = pd.read_csv(r"E:\Corelia\Final Project\clean\no_of_people_living_with_hiv_clean_numeric.csv")

In [2]:
import pyodbc

conn = pyodbc.connect(
    'Driver={SQL Server};'
    'Server=DESKTOP-5PAB7M2;'
    'Database=HIV_DB;'
    'Trusted_Connection=yes;'
)

cursor = conn.cursor()
print("✅ Connected to SQL Server successfully")

✅ Connected to SQL Server successfully

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\program\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\program\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\program\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine

engine = create_engine(
    "mssql+pyodbc://DESKTOP-5PAB7M2/HIV_DB?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes",
    fast_executemany=True
)

df1.to_sql("art_coverage", con=engine, if_exists="replace", index=False)

-1

In [6]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server']

In [7]:
from sqlalchemy import create_engine

engine = create_engine(
    "mssql+pyodbc://DESKTOP-5PAB7M2/HIV_DB?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes",
    fast_executemany=True
)

# مثال: رفع df1 كجدول جديد
df1.to_sql("art_coverage", con=engine, if_exists="replace", index=False)
print("✅ تم رفع df1 بنجاح.")

✅ تم رفع df1 بنجاح.

In [8]:
# رفع df2 → جدول art_pediatric
df2.to_sql("art_pediatric", con=engine, if_exists="replace", index=False)
print("✅ df2 → art_pediatric")

# رفع df3 → جدول mother_to_child_transmission
df3.to_sql("mother_to_child_transmission", con=engine, if_exists="replace", index=False)
print("✅ df3 → mother_to_child_transmission")

# رفع df4 → جدول no_of_cases_adults_15_49
df4.to_sql("no_of_cases_adults_15_49", con=engine, if_exists="replace", index=False)
print("✅ df4 → no_of_cases_adults_15_49")

# رفع df5 → جدول no_of_deaths
df5.to_sql("no_of_deaths", con=engine, if_exists="replace", index=False)
print("✅ df5 → no_of_deaths")

# رفع df6 → جدول no_of_people_living_with_hiv
df6.to_sql("no_of_people_living_with_hiv", con=engine, if_exists="replace", index=False)
print("✅ df6 → no_of_people_living_with_hiv")

✅ df2 → art_pediatric
✅ df3 → mother_to_child_transmission
✅ df4 → no_of_cases_adults_15_49
✅ df5 → no_of_deaths
✅ df6 → no_of_people_living_with_hiv

In [9]:
import pandas as pd
from sqlalchemy import create_engine

# الاتصال بـ SQL Server
engine = create_engine(
    "mssql+pyodbc://DESKTOP-5PAB7M2/HIV_DB?driver=ODBC+Driver+17+for+SQL+Server"
)

# قراءة الـ View اللي عملناها
df_view = pd.read_sql("SELECT * FROM vw_HIV_Data_Model", con=engine)

# عرض أول صفين للتأكد
print(df_view.head())

   CountryID      Country  Coverage_calc_%  Treatment_gap  Pediatric_Coverage  \
0          1  Afghanistan        12.777778         6280.0                17.0
1          2      Albania              NaN            NaN                 NaN
2          3      Algeria        80.000000         3200.0                95.0
3          4       Angola        26.878788       241300.0                13.0
4          5    Argentina        61.071429        54500.0                92.0

   Mother_To_Child_Coverage  No_of_Cases  No_of_Deaths  \
0                      11.0          0.1         500.0
1                       NaN          NaN           NaN
2                      74.0          0.1         200.0
3                      38.0          2.0       14000.0
4                      95.0          0.4        1700.0

   No_of_People_Living_With_HIV
0                        7200.0
1                           NaN
2                       16000.0
3                      330000.0
4                      140000.0

In [10]:
import pandas as pd
from sqlalchemy import create_engine

# إعداد الاتصال بـ SQL Server
server = 'DESKTOP-5PAB7M2'  # ← حسب جهازك
database = 'HIV_DB'
driver = 'ODBC Driver 17 for SQL Server'

engine = create_engine(f"mssql+pyodbc://{server}/{database}?driver={driver}")

# تحميل الجداول بعد التعديلات
df_coverage = pd.read_sql("SELECT * FROM art_coverage", engine)
df_pediatric = pd.read_sql("SELECT * FROM art_pediatric", engine)
df_mtc = pd.read_sql("SELECT * FROM mother_to_child_transmission", engine)
df_cases = pd.read_sql("SELECT * FROM no_of_cases_adults_15_49", engine)
df_deaths = pd.read_sql("SELECT * FROM no_of_deaths", engine)
df_people = pd.read_sql("SELECT * FROM no_of_people_living_with_hiv", engine)
df_countries = pd.read_sql("SELECT * FROM Countries", engine)

In [11]:
# مثال: عرض أول صفوف من كل جدول
print(df_coverage.head())
print(df_pediatric.head())
print(df_mtc.head())
print(df_cases.head())
print(df_deaths.head())
print(df_people.head())
print(df_countries.head())

   Reported number of people receiving ART  \
0                                    920.0
1                                    580.0
2                                  12800.0
3                                  88700.0
4                                  85500.0

   Estimated number of people living with HIV_median  \
0                                             7200.0
1                                                NaN
2                                            16000.0
3                                           330000.0
4                                           140000.0

   Estimated number of people living with HIV_min  \
0                                          4100.0
1                                             NaN
2                                         15000.0
3                                        290000.0
4                                        130000.0

   Estimated number of people living with HIV_max  \
0                                         11000.0
1                                             NaN
2                                         17000.0
3                                        390000.0
4                                        150000.0

   Estimated ART coverage among people living with HIV (%)_median  \
0                                               13.0
1                                                NaN
2                                               81.0
3                                               27.0
4                                               61.0

   Estimated ART coverage among people living with HIV (%)_min  \
0                                                7.0
1                                                NaN
2                                               75.0
3                                               23.0
4                                               55.0

   Estimated ART coverage among people living with HIV (%)_max  \
0                                               20.0
1                                                NaN
2                                               86.0
3                                               31.0
4                                               67.0

              WHO Region  Coverage_calc_%  Treatment_gap  CountryID
0  Eastern Mediterranean        12.777778         6280.0          1
1                 Europe              NaN            NaN          2
2                 Africa        80.000000         3200.0          3
3                 Africa        26.878788       241300.0          4
4               Americas        61.071429        54500.0          5
   Reported number of children receiving ART  \
0                                       60.0
1                                       20.0
2                                      770.0
3                                     4800.0
4                                     1700.0

   Estimated number of children needing ART based on WHO methods_median  \
0                                              500.0
1                                                NaN
2                                              500.0
3                                            38000.0
4                                             1800.0

   Estimated number of children needing ART based on WHO methods_min  \
0                                              500.0
1                                                NaN
2                                              500.0
3                                            30000.0
4                                             1600.0

   Estimated number of children needing ART based on WHO methods_max  \
0                                              530.0
1                                                NaN
2                                              520.0
3                                            47000.0
4                                             2100.0

   Estimated ART coverage among children (%)_median  \
0                                              17.0
1                                               NaN
2                                              95.0
3                                              13.0
4                                              92.0

   Estimated ART coverage among children (%)_min  \
0                                           10.0
1                                            NaN
2                                           95.0
3                                           10.0
4                                           84.0

   Estimated ART coverage among children (%)_max             WHO Region  \
0                                           26.0  Eastern Mediterranean
1                                            NaN                 Europe
2                                           95.0                 Africa
3                                           16.0                 Africa
4                                           95.0               Americas

   Coverage_calc_%  Treatment_gap  CountryID
0        12.000000          440.0          1
1              NaN            NaN          2
2       154.000000         -270.0          3
3        12.631579        33200.0          4
4        94.444444          100.0          5
   Received Antiretrovirals Needing antiretrovirals Percentage Recieved  \
0                      20.0            200[100–500]            11[7–18]
1                       NaN                  Nodata              Nodata
2                     320.0            500[500–500]           74[69–78]
3                    9600.0      25000[19000–32000]           38[29–48]
4                    1800.0         1800[1600–2000]           95[85–95]

   Needing antiretrovirals_median  Needing antiretrovirals_min  \
0                           200.0                        100.0
1                             NaN                          NaN
2                           500.0                        500.0
3                         25000.0                      19000.0
4                          1800.0                       1600.0

   Needing antiretrovirals_max  Percentage Recieved_median  \
0                        500.0                        11.0
1                          NaN                         NaN
2                        500.0                        74.0
3                      32000.0                        38.0
4                       2000.0                        95.0

   Percentage Recieved_min  Percentage Recieved_max             WHO Region  \
0                      7.0                     18.0  Eastern Mediterranean
1                      NaN                      NaN                 Europe
2                     69.0                     78.0                 Africa
3                     29.0                     48.0                 Africa
4                     85.0                     95.0               Americas

   CountryID
0          1
1          2
2          3
3          4
4          5
   Year         Count  Count_median  Count_min  Count_max  \
0  2018  0.1[0.1-0.1]           0.1        0.1        0.1
1  2018          None           NaN        NaN        NaN
2  2018  0.1[0.1-0.1]           0.1        0.1        0.1
3  2018  2.0[1.7-2.3]           2.0        1.7        2.3
4  2018  0.4[0.4-0.4]           0.4        0.4        0.4

              WHO Region  CountryID
0  Eastern Mediterranean          1
1                 Europe          2
2                 Africa          3
3                 Africa          4
4               Americas          5
   Year              Count  Count_median  Count_min  Count_max  \
0  2018       500[200-610]         500.0      200.0      610.0
1  2018               None           NaN        NaN        NaN
2  2018       200[200-200]         200.0      200.0      200.0
3  2018  14000[9500-18000]       14000.0     9500.0    18000.0
4  2018    1700[1300-2100]        1700.0     1300.0     2100.0

              WHO Region  CountryID
0  Eastern Mediterranean          1
1                 Europe          2
2                 Africa          3
3                 Africa          4
4               Americas          5
   Year                  Count  Count_median  Count_min  Count_max  \
0  2018       7200[4100-11000]        7200.0     4100.0    11000.0
1  2018                   None           NaN        NaN        NaN
2  2018     16000[15000-17000]       16000.0    15000.0    17000.0
3  2018  330000[290000-390000]      330000.0   290000.0   390000.0
4  2018  140000[130000-150000]      140000.0   130000.0   150000.0

              WHO Region  CountryID
0  Eastern Mediterranean          1
1                 Europe          2
2                 Africa          3
3                 Africa          4
4               Americas          5
   CountryID      Country
0          1  Afghanistan
1          2      Albania
2          3      Algeria
3          4       Angola
4          5    Argentina

In [14]:
df = df_coverage.merge(df_pediatric.drop(columns=['WHO Region']), on='CountryID', suffixes=('_adults', '_pediatric')) \
                .merge(df_mtc.drop(columns=['WHO Region']), on='CountryID') \
                .merge(df_cases.drop(columns=['WHO Region']), on='CountryID') \
                .merge(df_deaths.drop(columns=['WHO Region']), on='CountryID', suffixes=('', '_deaths')) \
                .merge(df_people.drop(columns=['WHO Region']), on='CountryID', suffixes=('', '_people')) \
                .merge(df_countries, on='CountryID')
df

,Reported number of people receiving ART,Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region,Coverage_calc_%_adults,Treatment_gap_adults,...,Count_deaths,Count_median_deaths,Count_min_deaths,Count_max_deaths,Year_people,Count_people,Count_median_people,Count_min_people,Count_max_people,Country
0,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2018,7200[4100-11000],7200.0,4100.0,11000.0,Afghanistan
1,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2010,4200[2500-6200],4200.0,2500.0,6200.0,Afghanistan
2,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2005,2900[1700-5000],2900.0,1700.0,5000.0,Afghanistan
3,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2000,1600[1000-3500],1600.0,1000.0,3500.0,Afghanistan
4,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-500],500.0,200.0,500.0,2018,7200[4100-11000],7200.0,4100.0,11000.0,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8155,1151000.0,1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa,88.538462,149000.0,...,54000[43000-68000],54000.0,43000.0,68000.0,2000,1600000[1400000-1900000],1600000.0,1400000.0,1900000.0,Zimbabwe
8156,1151000.0,1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa,88.538462,149000.0,...,120000[98000-150000],120000.0,98000.0,150000.0,2018,1300000[1100000-1500000],1300000.0,1100000.0,1500000.0,Zimbabwe
8157,1151000.0,1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa,88.538462,149000.0,...,120000[98000-150000],120000.0,98000.0,150000.0,2010,1200000[1100000-1400000],1200000.0,1100000.0,1400000.0,Zimbabwe
8158,1151000.0,1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa,88.538462,149000.0,...,120000[98000-150000],120000.0,98000.0,150000.0,2005,1400000[1200000-1600000],1400000.0,1200000.0,1600000.0,Zimbabwe
8159,1151000.0,1300000.0,1100000.0,1500000.0,88.0,77.0,95.0,Africa,88.538462,149000.0,...,120000[98000-150000],120000.0,98000.0,150000.0,2000,1600000[1400000-1900000],1600000.0,1400000.0,1900000.0,Zimbabwe

In [15]:
missing_summary = df.isnull().sum()
missing_percent = (df.isnull().mean() * 100).round(2)
print(pd.concat([missing_summary, missing_percent], axis=1, keys=['Missing Count', 'Missing %']))

                                                    Missing Count  Missing %
Reported number of people receiving ART                      1296      15.88
Estimated number of people living with HIV_median            1536      18.82
Estimated number of people living with HIV_min               1536      18.82
Estimated number of people living with HIV_max               1536      18.82
Estimated ART coverage among people living with...           1632      20.00
Estimated ART coverage among people living with...           1632      20.00
Estimated ART coverage among people living with...           1632      20.00
WHO Region                                                      0       0.00
Coverage_calc_%_adults                                       1632      20.00
Treatment_gap_adults                                         1632      20.00
CountryID                                                       0       0.00
Reported number of children receiving ART                    3408      41.76
Estimated number of children needing ART based ...           3264      40.00
Estimated number of children needing ART based ...           3264      40.00
Estimated number of children needing ART based ...           3264      40.00
Estimated ART coverage among children (%)_median             3696      45.29
Estimated ART coverage among children (%)_min                3696      45.29
Estimated ART coverage among children (%)_max                3696      45.29
Coverage_calc_%_pediatric                                    3696      45.29
Treatment_gap_pediatric                                      3696      45.29
Received Antiretrovirals                                     2784      34.12
Needing antiretrovirals                                         0       0.00
Percentage Recieved                                           192       2.35
Needing antiretrovirals_median                               3360      41.18
Needing antiretrovirals_min                                  3360      41.18
Needing antiretrovirals_max                                  3360      41.18
Percentage Recieved_median                                   3744      45.88
Percentage Recieved_min                                      3744      45.88
Percentage Recieved_max                                      3744      45.88
Year                                                            0       0.00
Count                                                        1488      18.24
Count_median                                                 1488      18.24
Count_min                                                    1488      18.24
Count_max                                                    1488      18.24
Year_deaths                                                     0       0.00
Count_deaths                                                 1760      21.57
Count_median_deaths                                          1760      21.57
Count_min_deaths                                             1760      21.57
Count_max_deaths                                             1760      21.57
Year_people                                                     0       0.00
Count_people                                                 1524      18.68
Count_median_people                                          1524      18.68
Count_min_people                                             1524      18.68
Count_max_people                                             1524      18.68
Country                                                         0       0.00

In [16]:
# تحديد الأعمدة الرقمية فقط
numeric_cols = df.select_dtypes(include='number').columns

# تعويض القيم المفقودة بالمتوسط
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [17]:
df_coverage = pd.read_sql("SELECT * FROM art_coverage", conn)
# وهكذا لباقي الجداول

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14992\1265518894.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_coverage = pd.read_sql("SELECT * FROM art_coverage", conn)

In [18]:
from sqlalchemy import create_engine
import pandas as pd

# بيانات الاتصال
server = 'localhost'         # أو اسم السيرفر بتاعك
database = 'HIV_DB'
driver = 'ODBC Driver 17 for SQL Server'

# إنشاء engine
engine = create_engine(f"mssql+pyodbc://@{server}/{database}?driver={driver}")

# قراءة الجدول
df_coverage = pd.read_sql("SELECT * FROM art_coverage", engine)

In [19]:
tables = [
    "art_coverage",
    "art_pediatric",
    "mother_to_child_transmission",
    "no_of_cases_adults_15_49",
    "no_of_deaths",
    "no_of_people_living_with_hiv"
]

dfs = {}

for table in tables:
    dfs[table] = pd.read_sql(f"SELECT * FROM {table}", engine)

# أمثلة للوصول:
# dfs["art_coverage"].head()
# dfs["no_of_deaths"].info()

In [20]:
import numpy as np

# ملء القيم المفقودة بالمتوسط في df
df_coverage.fillna(df_coverage.mean(numeric_only=True), inplace=True)

# إعادة تحديث الجدول في SQL بعد التعديل (لو حابب)
df_coverage.to_sql("art_coverage", con=engine, if_exists="replace", index=False)

170

In [22]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import urllib

# إعداد الاتصال بـ SQL Server باستخدام Windows Authentication
params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-5PAB7M2;"
    "DATABASE=HIV_DB;"
    "Trusted_Connection=yes;"
)

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# أسماء الجداول
tables = [
    'art_coverage',
    'art_pediatric',
    'mother_to_child_transmission',
    'no_of_cases_adults_15_49',
    'no_of_deaths',
    'no_of_people_living_with_hiv'
]

dfs = {}

for table in tables:
    df = pd.read_sql(f"SELECT * FROM {table}", engine)
    
    # ملء القيم المفقودة في الأعمدة الرقمية فقط
    for col in df.select_dtypes(include=[np.number]).columns:
        df[col].fillna(df[col].mean(), inplace=True)
    
    dfs[table] = df

# مثال على عرض أول 5 صفوف من جدول
dfs['art_coverage'].head()

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14992\2727455057.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

,Reported number of people receiving ART,Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region,Coverage_calc_%,Treatment_gap,CountryID
0,920.0,7200.000000,4100.000000,11000.000000,13.000000,7.000000,20.000000,Eastern Mediterranean,12.777778,6280.000000,1
1,580.0,227337.681159,195366.014493,263125.434783,55.551471,46.830882,65.529412,Europe,54.693737,85987.132353,2
2,12800.0,16000.000000,15000.000000,17000.000000,81.000000,75.000000,86.000000,Africa,80.000000,3200.000000,3
3,88700.0,330000.000000,290000.000000,390000.000000,27.000000,23.000000,31.000000,Africa,26.878788,241300.000000,4
4,85500.0,140000.000000,130000.000000,150000.000000,61.000000,55.000000,67.000000,Americas,61.071429,54500.000000,5

In [23]:
df

,Year,Count,Count_median,Count_min,Count_max,WHO Region,CountryID
0,2018,7200[4100-11000],7.200000e+03,4.100000e+03,1.100000e+04,Eastern Mediterranean,1
1,2018,None,1.857918e+05,1.588005e+05,2.152008e+05,Europe,2
2,2018,16000[15000-17000],1.600000e+04,1.500000e+04,1.700000e+04,Africa,3
3,2018,330000[290000-390000],3.300000e+05,2.900000e+05,3.900000e+05,Africa,4
4,2018,140000[130000-150000],1.400000e+05,1.300000e+05,1.500000e+05,Americas,5
...,...,...,...,...,...,...,...
675,2000,None,1.857918e+05,1.588005e+05,2.152008e+05,Americas,166
676,2000,120000[110000-130000],1.200000e+05,1.100000e+05,1.300000e+05,Western Pacific,167
677,2000,1100[680-2500],1.100000e+03,6.800000e+02,2.500000e+03,Eastern Mediterranean,168
678,2000,890000[800000-1000000],8.900000e+05,8.000000e+05,1.000000e+06,Africa,169
679,2000,1600000[1400000-1900000],1.600000e+06,1.400000e+06,1.900000e+06,Africa,170

In [27]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# اتصال بالـ SQL Server
server = 'DESKTOP-5PAB7M2'
database = 'HIV_DB'  # ← غيّر دا لاسم قاعدة البيانات الحقيقي بتاعك
engine = create_engine(f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server")

# تحميل كل الجداول
df_coverage = pd.read_sql("SELECT * FROM art_coverage", engine)
df_pediatric = pd.read_sql("SELECT * FROM art_pediatric", engine)
df_mtc = pd.read_sql("SELECT * FROM mother_to_child_transmission", engine)
df_cases = pd.read_sql("SELECT * FROM no_of_cases_adults_15_49", engine)
df_deaths = pd.read_sql("SELECT * FROM no_of_deaths", engine)
df_people = pd.read_sql("SELECT * FROM no_of_people_living_with_hiv", engine)
df_countries = pd.read_sql("SELECT * FROM countries", engine)

# إزالة الأعمدة المتكررة
for df in [df_pediatric, df_mtc, df_cases, df_deaths, df_people, df_countries]:
    if 'WHO Region' in df.columns:
        df.drop(columns=['WHO Region'], inplace=True)

# الدمج النهائي
df = df_coverage.merge(df_pediatric, on='CountryID', suffixes=('_adults', '_pediatric')) \
                .merge(df_mtc, on='CountryID') \
                .merge(df_cases, on='CountryID') \
                .merge(df_deaths, on='CountryID', suffixes=('', '_deaths')) \
                .merge(df_people, on='CountryID') \
                .merge(df_countries, on='CountryID')

# ملء الفراغات بالقيم المتوسطة
for col in df.select_dtypes(include=[np.number]).columns:
    df[col].fillna(df[col].mean(), inplace=True)

# عرض النتائج
df.head()

C:\Users\ahmed\AppData\Local\Temp\ipykernel_14992\1748782008.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

,Reported number of people receiving ART,Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region,Coverage_calc_%_adults,Treatment_gap_adults,...,Count_deaths,Count_median_deaths,Count_min_deaths,Count_max_deaths,Year_y,Count_y,Count_median_y,Count_min_y,Count_max_y,Country
0,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2018,7200[4100-11000],7200.0,4100.0,11000.0,Afghanistan
1,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2010,4200[2500-6200],4200.0,2500.0,6200.0,Afghanistan
2,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2005,2900[1700-5000],2900.0,1700.0,5000.0,Afghanistan
3,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-610],500.0,200.0,610.0,2000,1600[1000-3500],1600.0,1000.0,3500.0,Afghanistan
4,920.0,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,12.777778,6280.0,...,500[200-500],500.0,200.0,500.0,2018,7200[4100-11000],7200.0,4100.0,11000.0,Afghanistan